@charset "UTF-8";


html {
    /* Sayfanın genel biçim kuralları*/
    font-family: "Montserrat", san-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /*Yazının boyut farkını ayarlar*/
    -webkit-text-size-adjust: 100%;
    /*Arka Plan ve Yazı rengi*/
    background: #fff;
    color: #4a4a4a;
}

body {
    margin: 0;
}

.enes-border-rounded-large{border-radius:20px;}
.enes-border-rounded-medium{border-radius:20px;}

/*Yazı rengi*/
.enes-step-title{color:#eb4a36;}

.enes-form-label{color:#fff;}

/* Linkler */
/*mouse ile üzerine gelindiğinde etkinleştirilecek olan biçimler*/
a:active,
a:hover {
    outline: none;
}

/* Stil */
a,
.enes-link {
    color: #eb4a36;
    text-decoration: none;
    cursor: pointer;
}

    a:hover,
    .enes-link:hover,
    .enes-link-toggle:hover .enes-link,
    .enes-link-toggle:focus .enes-link {
        color: #000;
        text-decoration: none;
    }

/*
Kalınlık verir
 */
b,
strong {
    font-weight: 600;
}


/*
 *small tagının yazı boyutunu ayarlamak için.
 */
small {
    font-size: 80%;
}

/*
 * sub ve sup taglarının yazı biçimlerini ayarlamak için.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/*Resmin hizalanması için*/
img {
    vertical-align: middle;
}

/*
  1-Resmin maksimum genişliğini ayarlar.
  2-Resmin yüksekliğini otomatik yapar.
  3-Resmin nesne üzerinde hizalanmasını sağlar.
*/
img {
    /* 1 */
    max-width: 100%;
    /* 2 */
    height: auto;
    /* 3 */
    box-sizing: border-box;
}



p,
ul,
ol {
    margin: 0 0 20px 0;
}


* + p,
* + ul,
* + ol {
    margin-top: 20px;
}

/*Tüm başlık etiketlerinin biçimlerini ayarlamak için */
h1, .enes-h1,
h2, .enes-h2,
h3, .enes-h3,
h4, .enes-h4,
h5, .enes-h5,
h6, .enes-h6,
.enes-heading-small,
.enes-heading-medium,
.enes-heading-large,
.enes-heading-xlarge,
.enes-heading-2xlarge {
    margin: 0 0 20px 0;
    font-family: "Montserrat", san-serif;
    font-weight: 600;
    color: #000;
    text-transform: none;
}
/*tüm başlık etiketlerinin yukarıdan olan dış boşluğunu ayarlamak için.*/
* + h1, * + .enes-h1,
* + h2, * + .enes-h2,
* + h3, * + .enes-h3,
* + h4, * + .enes-h4,
* + h5, * + .enes-h5,
* + h6, * + .enes-h6,
* + .enes-heading-small,
* + .enes-heading-medium,
* + .enes-heading-large,
* + .enes-heading-xlarge,
* + .enes-heading-2xlarge {
    margin-top: 30px;
}

/*h etiketinde yazı boyut ve yükseklikleri*/
h1, .enes-h1 {
    font-size: 2.23125rem;
    line-height: 1.2;
}

h2, .enes-h2 {
    font-size: 1.4875rem;
    line-height: 1.4;
}

h3, .enes-h3 {
    font-size: 1.375rem;
    line-height: 1.4;
}

h4, .enes-h4 {
    font-size: 1.125rem;
    line-height: 1.4;
}

h5, .enes-h5 {
    font-size: 16px;
    line-height: 1.4;
}

h6, .enes-h6 {
    font-size: 0.875rem;
    line-height: 1.4;
}

/*Ekran boyutu minimum 960 piksel ve yukarısı  olan ekranlarda  aşağıdaki yazı biçimi geçerlidir.*/
@media (min-width: 960px) {
    h1, .enes-h1 {
        font-size: 2.625rem;
    }

    h2, .enes-h2 {
        font-size: 1.75rem;
    }
}

/* Liste biçimlerinin boşluğunu ayarlar */
ul,
ol {
    padding-left: 30px;
}


/*Verdiğimiz class isimlerine göre yazı biçimlerini ayarlar*/
.enes-heading-small {
    font-size: 2.6rem;
    line-height: 1.2;
}

.enes-heading-medium {
    font-size: 2.875rem;
    line-height: 1.1;
}

.enes-heading-large {
    font-size: 3.4rem;
    line-height: 1.1;
}

.enes-heading-xlarge {
    font-size: 4rem;
    line-height: 1;
}

.enes-heading-2xlarge {
    font-size: 6rem;
    line-height: 1;
}

/*Ekran boyutu minimum 960px olan ekranlar için Verdiğimiz class isimlerine göre yazı biçimlerini ayarlar*/
@media (min-width: 960px) {
    .enes-heading-small {
        font-size: 3.25rem;
    }

    .enes-heading-medium {
        font-size: 3.75rem;
    }

    .enes-heading-large {
        font-size: 4rem;
    }

    .enes-heading-xlarge {
        font-size: 6rem;
    }

    .enes-heading-2xlarge {
        font-size: 8rem;
    }
}

/*Ekran boyutu minimum 1200px olan ekranlar için Verdiğimiz class isimlerine göre yazı biçimlerini ayarlar*/
@media (min-width: 1200px) {
    .enes-heading-medium {
        font-size: 4rem;
    }

    .enes-heading-large {
        font-size: 6rem;
    }

    .enes-heading-xlarge {
        font-size: 8rem;
    }

    .enes-heading-2xlarge {
        font-size: 11rem;
    }
}
/*hr tagının biçim özellikleri */
hr, .enes-hr {
    overflow: visible;
    text-align: inherit;
    margin: 0 0 20px 0;
    border: 0;
    border-top: 1px solid #eaecf0;
}

hr,
.enes-hr {
    margin-top: 20px;
}

/*classı listeli yapıya verdiğimizde  stil özelliğini yapılandırır.*/
.enes-list {
    padding: 0;
    list-style: none;
}

    .enes-list > li::before,
    .enes-list > li::after {
        content: "";
        display: table;
    }

    .enes-list > li::after {
        clear: both;
    }

 
    .enes-list > li > :last-child {
        margin-bottom: 0;
    }

 
    .enes-list ul {
        margin: 0;
        padding-left: 30px;
        list-style: none;
    }

    .enes-list > li:nth-child(n+2),
    .enes-list > li > ul {
        margin-top: 10px;
    }

/*Listeye classı tanımladığımızda verilen biçimleri algılar. */
.enes-list-divider > li:nth-child(n+2) {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eaecf0;
}

/*Listeye classı tanımladığımızda verilen biçimleri algılar. */
.enes-list-large > li:nth-child(n+2),
.enes-list-large > li > ul {
    margin-top: 20px;
}

/*Listeye classı tanımladığımızda verilen biçimleri algılar. */
.enes-list-large.enes-list-divider > li:nth-child(n+2) {
    margin-top: 20px;
    padding-top: 20px;
}
/*Listeye classı tanımladığımızda verilen biçimleri algılar. */
.enes-list-large.enes-list-striped > li {
    padding: 20px 10px;
}

    .enes-list-large.enes-list-striped > li:nth-of-type(odd) {
        border-top: 1px solid #eaecf0;
        border-bottom: 1px solid #eaecf0;
    }

    .enes-list-large.enes-list-striped > li:nth-child(n+2) {
        margin-top: 0;
    }

/*
 * 1. Kenar boşluklarını kaldırır.
 * 2. Kenarlığı kaldırır.
 * 3. Kenarlık çapını kaldırır.
 * 4. Taşma özelliğini kaldırır.
 * 5. Otomatik verilen font özelliklerini kaldırır.
 * 6. Otomatik verilen yazı-biçim özelliklerini kaldırır.
 * 7. Boşluk ve arka plan özelliklerini kaldırır.
 * 8. Sabitler.
 * 9. Rengi geçerli renk özelliğine atar.
 * 10.Simge boyutlarını ayarlar.
 */
.enes-icon {
    /* 1 */
    margin: 0;
    /* 2 */
    border: none;
    /* 3 */
    border-radius: 0;
    /* 4 */
    overflow: visible;
    /* 5 */
    font: inherit;
    color: inherit;
    /* 6 */
    text-transform: none;
    /* 7. */
    padding: 0;
    background-color: transparent;
    /* 8 */
    display: inline-block;
    /* 9 */
    fill: currentcolor;
    /* 10 */
    line-height: 0;
}

/*
 Form elemanlarının biçim özellikleri
 */
.enes-input,
.enes-textarea
 {
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    font: inherit;
}
.enes-input {
    overflow: visible;
}
.enes-textarea {
    overflow: auto;
}

/*Form elemanlarından input ve textarea'nın biçim özellikleri */
.enes-input,
.enes-textarea {
    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #4a4a4a;
    border: 1px solid #eaecf0;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
}

    .enes-input {
        height: 36px;
        vertical-align: middle;
       
        display: inline-block;
    }
      
        .enes-input:not(input) {
            line-height: 34px;
        }

   
    .enes-textarea {
        padding-top: 4px;
        padding-bottom: 4px;
        vertical-align: top;
    }

      
        .enes-input:focus,
        .enes-textarea:focus {
            outline: none;
            background-color: #fff;
            color: #4a4a4a;
            border-color: #eb4a36;
        }
        
        .enes-input:disabled,
        .enes-textarea:disabled {
            background-color: #f9f5f4;
            color: #787878;
            border-color: #eaecf0;
        }

    .enes-input::-ms-input-placeholder {
        color: #787878 !important;
    }

    .enes-input::placeholder {
        color: #787878;
    }

    .enes-textarea::-ms-input-placeholder {
        color: #787878 !important;
    }

    .enes-textarea::placeholder {
        color: #787878;
    }

/*
 Class'ı butona verdiğimizde biçim özelliklerini algılar.
 */
.enes-button {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 0.75rem;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color;
}

    .enes-button:not(:disabled) {
        cursor: pointer;
    }

    .enes-button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    /* Üzerine gelince */
    .enes-button:hover {
        
        text-decoration: none;
    }

    /* Tıklayınca */
    .enes-button:focus {
        outline: none;
    }

/*
 * Danger
 */
.enes-button-danger {
    background-color: #ED4B35;
    color: #fff;
    border: 1px solid transparent;
}

    /* Hover + Focus */
    .enes-button-danger:hover,
    .enes-button-danger:focus {
        background-color: #eb361e;
        color: #fff;
    }

    /* OnClick + Active */
    .enes-button-danger:active,
    .enes-button-danger.enes-active {
        background-color: #db2b14;
        color: #fff;
    }

.enes-button-warning {
    background-color: #fbc418;
    color: #000;
    border: 1px solid transparent;
}

/*
 İçerik alanı (content veya section) yükseklik ve boşluk değerlerinin tanımlanması.
 */
.enes-section {
    box-sizing: border-box;
    /* 1 */
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Ekran ölçeğine göre boşluk ayarlamaları. */
@media (min-width: 960px) {
    .enes-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.enes-section::before,
.enes-section::after {
    content: "";
    display: table;
}

.enes-section::after {
    clear: both;
}

/*
 section'un altında olan last-child clasının margin bottom değerinin sıfırlanması.
 */
.enes-section > :last-child {
    margin-bottom: 0;
}

.enes-container {
    /* 1 */
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Telefon ekran özellikleri */
@media (min-width: 640px) {
    .enes-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Tablet ekran özellikleri */
@media (min-width: 960px) {
    .enes-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.enes-container::before,
.enes-container::after {
    content: "";
    display: table;
}

.enes-container::after {
    clear: both;
}


.enes-container > :last-child {
    margin-bottom: 0;
}


.enes-container .enes-container {
    padding-left: 0;
    padding-right: 0;
}

/*
 * 1. Hücrelerin bir sonraki satıra girmesine izin ver
 * 2. Listeyi sıfırla
 */
.enes-grid {
    display: flex;
    /* 1 */
    flex-wrap: wrap;
    /* 2 */
    margin: 0;
    padding: 0;
    list-style: none;
}

    /*
 * Note: Alan yalnızca içerik boyutlarına göre ayrılır, ancak küçülür: 0 1 otomatik
 * Örneğin kenar boşluğunu sıfırla paragraflar
 */
    .enes-grid > * {
        margin: 0;
    }

        /*
 * Son alt öğeden kenar boşluğunu kaldırın
 */
        .enes-grid > * > :last-child {
            margin-bottom: 0;
        }


.enes-grid {
    margin-left: -30px;
}

    .enes-grid > * {
        padding-left: 30px;
    }

    /* Vertical */
    .enes-grid + .enes-grid,
    .enes-grid > .enes-grid-margin,
    * + .enes-grid-margin {
        margin-top: 30px;
    }

/* Ekran ölçeğine göre veriken boşluk değerleri */
@media (min-width: 1200px) {
    /* Horizontal */
    .enes-grid {
        margin-left: -40px;
    }

        .enes-grid > * {
            padding-left: 40px;
        }
        /* Vertical */
        .enes-grid + .enes-grid,
        .enes-grid > .enes-grid-margin,
        * + .enes-grid-margin {
            margin-top: 40px;
        }
}

/* Divider clasının pozisyonunun ayarlanması. */
.enes-grid-divider > * {
    position: relative;
}

.enes-grid-divider > :not(.enes-first-column)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid #eaecf0;
}

.enes-grid-divider.enes-grid-stack > .enes-grid-margin::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid #eaecf0;
}


.enes-grid-divider {
    margin-left: -60px;
}

    .enes-grid-divider > * {
        padding-left: 60px;
    }

    .enes-grid-divider > :not(.enes-first-column)::before {
        left: 30px;
    }

    /* Vertical */
    .enes-grid-divider.enes-grid-stack > .enes-grid-margin {
        margin-top: 60px;
    }

        .enes-grid-divider.enes-grid-stack > .enes-grid-margin::before {
            top: -30px;
            left: 60px;
        }

        
/* Ekran ölçeğine göre veriken özellikler */
@media (min-width: 1200px) {
    /* Horizontal */
    .enes-grid-divider {
        margin-left: -80px;
    }

        .enes-grid-divider > * {
            padding-left: 80px;
        }

        .enes-grid-divider > :not(.enes-first-column)::before {
            left: 40px;
        }
        /* Vertical */
        .enes-grid-divider.enes-grid-stack > .enes-grid-margin {
            margin-top: 80px;
        }

            .enes-grid-divider.enes-grid-stack > .enes-grid-margin::before {
                top: -40px;
                left: 80px;
            }
}


/* Ürün listelerindeki başlık özellikleri */
.enes-card-title {
    font-size: 0.9375rem;
    line-height: 1.4;
}

/* ========================================================================
   Component: Nav
 ========================================================================== */
/*
 * Reset
 * 1. Listelerin hazırlanması
 * 2. Bağlantıların hazırlanması
 * 3. Varsayılan odak stillerinin kaldırılması
 */
/* 1 */
.enes-nav,
.enes-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    /* 2 */
    .enes-nav li > a {
        display: block;
        text-decoration: none;
    }

        /* 3 */
        .enes-nav li > a:focus {
            outline: none;
        }

    .enes-nav > li > a {
        padding: 5px 0;
    }

/* Alt Listeleme
 ========================================================================== */
ul.enes-nav-sub {
    padding: 0 0 0 15px;
}

.enes-nav-sub ul {
    padding-left: 15px;
}

.enes-nav-sub a {
    padding: 8px 0;
}

/* Üst simgenin değişmesi (+ nın - olması) */
.enes-nav-parent-icon > .enes-parent > a::after {
    content: "";
    width: 1.5em;
    height: 1.5em;
    float: right;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9' y='2' width='2' height='17' /%3E%3Crect x='1' y='9' width='17' height='2' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.enes-nav-parent-icon > .enes-parent.enes-open > a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Crect height='2' width='18' y='9' x='1' /%3E%3C/svg%3E");
}

/* Header
 ========================================================================== */
.enes-nav-header {
    padding: 5px 0;
    text-transform: none;
    font-size: 0.875rem;
}

    .enes-nav-header:not(:first-child) {
        margin-top: 20px;
    }

/* Divider
 ========================================================================== */
.enes-nav-divider {
    margin: 5px 0;
}

/* Varsayılan stiller
 ========================================================================== */
.enes-nav-default {
    font-size: 0.875rem;
}

    .enes-nav-default > li > a {
        color: #000;
    }

        /* Üzerine gelme + tıklanma */
        .enes-nav-default > li > a:hover,
        .enes-nav-default > li > a:focus {
            color: #000;
        }

    /* Active */
    .enes-nav-default > li.enes-active > a {
        color: #eb4a36;
    }

    /*
 * Header
 */
    .enes-nav-default .enes-nav-header {
        color: #000;
    }

    /*
 * Divider
 */
    .enes-nav-default .enes-nav-divider {
        border-top: 1px solid #eaecf0;
    }

    /*
 * Alt listeleme
 */
    .enes-nav-default .enes-nav-sub a {
        color: #000;
    }

        .enes-nav-default .enes-nav-sub a:hover,
        .enes-nav-default .enes-nav-sub a:focus {
            color: #eb4a36;
        }

    .enes-nav-default .enes-nav-sub li.enes-active > a {
        color: #eb4a36;
    }

/* Primary modifier
 ========================================================================== */
/*
 * Items
 */
.enes-nav-primary > li > a {
    font-size: 1.375rem;
    line-height: 1.5;
    color: #787878;
}

    /* üzerine gelme + tıklanma */
    .enes-nav-primary > li > a:hover,
    .enes-nav-primary > li > a:focus {
        color: #4a4a4a;
    }

/* Active */
.enes-nav-primary > li.enes-active > a {
    color: #333;
}

/*
 * Header
 */
.enes-nav-primary .enes-nav-header {
    color: #333;
}

/*
 * Divider
 */
.enes-nav-primary .enes-nav-divider {
    border-top: 1px solid #eaecf0;
}

/*
 * Alt listeleme
 */
.enes-nav-primary .enes-nav-sub a {
    color: #787878;
}

    .enes-nav-primary .enes-nav-sub a:hover,
    .enes-nav-primary .enes-nav-sub a:focus {
        color: #4a4a4a;
    }

.enes-nav-primary .enes-nav-sub li.enes-active > a {
    color: #333;
}

/* Alignment modifier
 ========================================================================== */
.enes-nav-center {
    text-align: center;
}

    /* Alt listeleme */
    .enes-nav-center .enes-nav-sub,
    .enes-nav-center .enes-nav-sub ul {
        padding-left: 0;
    }

    /* İcon değişmesi  */
    .enes-nav-center.enes-nav-parent-icon > .enes-parent > a::after {
        position: absolute;
    }

.enes-nav-filter > .enes-parent > a {
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 0;
}

/*
 * 1. Orta gezinme çubuğu grubuna konum bağlamı oluşturma
 */
.enes-navbar {
    display: flex;
    /* 1 */
    position: relative;
    font-weight: 500;
}

/* Container */
.enes-navbar-container:not(.enes-navbar-transparent) {
    background: #fff;
}

/*
 * Önlem olarak mikro temizleme ile oluşturulan sözde öğeleri kaldırın (Container bileşeni kullanılıyorsa)
 */
.enes-navbar-container > ::before,
.enes-navbar-container > ::after {
    display: none !important;
}

/* Groups */
/*
  Yükseklikleri farklıysa, gezinme bölmelerini ve öğeleri dikey olarak hizalayın
 */
.enes-navbar-left,
.enes-navbar-right,
.enes-navbar-center,
.enes-navbar-center-left > *,
.enes-navbar-center-right > * {
    display: flex;
    align-items: center;
}

/*
 * 1. Alt gruplara sahip ortalanmış gezinme çubuğu için konum içeriği oluşturma (sol / sağ)
 * 2. İçerik kabın% 50'sinden büyükse metin sarmayı düzeltin.
 * 3. Yeni bir konum içeriği `z-index 'oluşturulduğundan açılanlar için gereklidir Tuval dışı olandan daha küçük olmalıdır
 * 4. Ortalanmış gezinme çubuğu için alt grupları hizalama
 */
.enes-navbar-right {
    margin-left: auto;
}

.enes-navbar-center:only-child {
    margin-left: auto;
    margin-right: auto;
    /* 1 */
    position: relative;
}

.enes-navbar-center:not(:only-child) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 2 */
    width: max-content;
    box-sizing: border-box;
    /* 3 */
    z-index: 990;
}

/* 4 */
.enes-navbar-center-left,
.enes-navbar-center-right {
    position: absolute;
    top: 0;
}

.enes-navbar-center-left {
    right: 100%;
}

.enes-navbar-center-right {
    left: 100%;
}

[class*='enes-navbar-center-'] {
    width: max-content;
    box-sizing: border-box;
}

.enes-navbar-nav {
    display: flex;
    /* 1 */
    margin: 0;
    padding: 0;
    list-style: none;
}

.enes-navbar-left,
.enes-navbar-right,
.enes-navbar-center:only-child {
    flex-wrap: wrap;
}

/*
 * 1. İçeriği dikey ve yatay olarak ortala
 * 2. Boyutlar
 * 3. Stil
 * 4. 'a' tagı için gerekli
 */
.enes-navbar-nav > li > a,
.enes-navbar-item,
.enes-navbar-toggle {
    /* 1 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 2 */
    box-sizing: border-box;
    min-height: 126px;
    padding: 0 15px;
    /* 3 */
    font-size: 0.75rem;
    font-family: "Montserrat", san-serif;
    /* 4 */
    text-decoration: none;
}

.enes-navbar-nav > li > a {
    color: #4a4a4a;
    text-transform: none;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
}

    /*
 * Odaklanma durumuna ve açılır menü açıksa fareyle üzerine gelme stilini uygula
 */
    .enes-navbar-nav > li:hover > a,
    .enes-navbar-nav > li > a:focus,
    .enes-navbar-nav > li > a.enes-open {
        color: #eb4a36;
        outline: none;
    }

    /* Tıklandığında */
    .enes-navbar-nav > li > a:active {
        color: #333;
    }

/* Aktif */
.enes-navbar-nav > li.enes-active > a {
    color: #eb4a36;
}

.enes-navbar-item {
    color: #4a4a4a;
}

.enes-navbar-toggle {
    color: #4a4a4a;
}

    .enes-navbar-toggle:hover,
    .enes-navbar-toggle:focus,
    .enes-navbar-toggle.enes-open {
        color: #000;
        outline: none;
        text-decoration: none;
    }


.enes-navbar-subtitle {
    font-size: 0.875rem;
}

.enes-navbar-dropdown {
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    z-index: 1020;
    /* 3 */
    box-sizing: border-box;
    width: 200px;
    /* 4 */
    padding: 25px;
    background: #fff;
    color: #4a4a4a;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

    .enes-navbar-dropdown.enes-open {
        display: block;
    }

/*
 * Yön / Hizalama değiştiricileri
 */
[class*='enes-navbar-dropdown-top'] {
    margin-top: 0;
}

[class*='enes-navbar-dropdown-bottom'] {
    margin-top: 0;
}

[class*='enes-navbar-dropdown-left'] {
    margin-left: 0;
}

[class*='enes-navbar-dropdown-right'] {
    margin-left: 0;
}
/*
 * 1. Öğelerin bir sonraki satıra sarılmasına izin ver
 */
.enes-pagination {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px
    padding: 0;
    list-style: none;
}

/* Ürün kart listesi  */
.enes-card {
    position: relative;
    box-sizing: border-box;
    transition: box-shadow 0.1s ease-in-out;
}

.enes-card-body {
    padding: 30px 30px;
}

.enes-card-header {
    padding: 15px 30px;
}

.enes-card-footer {
    padding: 15px 30px;
}




/*
   Bileşen: Genişlik
     Eşit alt genişlikler */
[class*='enes-child-width'] > * {
    box-sizing: border-box;
    width: 100%;
}

.enes-child-width-1-2 > * {
    width: 50%;
}

.enes-child-width-1-3 > * {
    width: calc(100% * 1 / 3.001);
}

.enes-child-width-1-4 > * {
    width: 25%;
}

.enes-child-width-1-5 > * {
    width: 20%;
}

.enes-child-width-1-6 > * {
    width: calc(100% * 1 / 6.001);
}

.enes-child-width-auto > * {
    width: auto;
}

/*
 * 1. Varsayılan olarak otomatik olarak ayarlanan `` min-genişlik '' değerini sıfırlayın,
    çünkü esnek öğeler minimum gerçek içerik boyutlarının altına küçülmez. "0" yerine "1px" kullanarak,
    sıfır genişliği ve dolgusu varsa ve selefi% 100 genişse, öğeler yine de bir sonraki satıra sarılır.
 */
.enes-child-width-expand > :not([class*='enes-width']) {
    flex: 1;
    /* 1 */
    min-width: 1px;
}

/* Telefon ölçülerine göre stil özellikleri */
@media (min-width: 640px) {
    .enes-child-width-1-1\@s > * {
        width: 100%;
    }

    .enes-child-width-1-2\@s > * {
        width: 50%;
    }

    .enes-child-width-1-3\@s > * {
        width: calc(100% * 1 / 3.001);
    }

    .enes-child-width-1-4\@s > * {
        width: 25%;
    }

    .enes-child-width-1-5\@s > * {
        width: 20%;
    }

    .enes-child-width-1-6\@s > * {
        width: calc(100% * 1 / 6.001);
    }

    .enes-child-width-auto\@s > * {
        width: auto;
    }

    .enes-child-width-expand\@s > :not([class*='enes-width']) {
        flex: 1;
        min-width: 1px;
    }
}

/* Tablet ölçülerine göre stil özellikleri */
@media (min-width: 960px) {
    .enes-child-width-1-1\@m > * {
        width: 100%;
    }

    .enes-child-width-1-2\@m > * {
        width: 50%;
    }

    .enes-child-width-1-3\@m > * {
        width: calc(100% * 1 / 3.001);
    }

    .enes-child-width-1-4\@m > * {
        width: 25%;
    }

    .enes-child-width-1-5\@m > * {
        width: 20%;
    }

    .enes-child-width-1-6\@m > * {
        width: calc(100% * 1 / 6.001);
    }

    .enes-child-width-auto\@m > * {
        width: auto;
    }

    .enes-child-width-expand\@m > :not([class*='enes-width']) {
        flex: 1;
        min-width: 1px;
    }
}

/* Bilgisayar ölçülerine göre stil özellikleri */
@media (min-width: 1200px) {
    .enes-child-width-1-1\@l > * {
        width: 100%;
    }

    .enes-child-width-1-2\@l > * {
        width: 50%;
    }

    .enes-child-width-1-3\@l > * {
        width: calc(100% * 1 / 3.001);
    }

    .enes-child-width-1-4\@l > * {
        width: 25%;
    }

    .enes-child-width-1-5\@l > * {
        width: 20%;
    }

    .enes-child-width-1-6\@l > * {
        width: calc(100% * 1 / 6.001);
    }

    .enes-child-width-auto\@l > * {
        width: auto;
    }

    .enes-child-width-expand\@l > :not([class*='enes-width']) {
        flex: 1;
        min-width: 1px;
    }
}

/* Geniş ekran ölçülerine göre stil özellikleri */
@media (min-width: 1600px) {
    .enes-child-width-1-1\@xl > * {
        width: 100%;
    }

    .enes-child-width-1-2\@xl > * {
        width: 50%;
    }

    .enes-child-width-1-3\@xl > * {
        width: calc(100% * 1 / 3.001);
    }

    .enes-child-width-1-4\@xl > * {
        width: 25%;
    }

    .enes-child-width-1-5\@xl > * {
        width: 20%;
    }

    .enes-child-width-1-6\@xl > * {
        width: calc(100% * 1 / 6.001);
    }

    .enes-child-width-auto\@xl > * {
        width: auto;
    }

    .enes-child-width-expand\@xl > :not([class*='enes-width']) {
        flex: 1;
        min-width: 1px;
    }
}

/*
 * 1. piksel tabanlı sınıflar için maksimum genişliklerin tanımlanması.
 */
[class*='enes-width'] {
    box-sizing: border-box;
    width: 100%;
    /* 1 */
    max-width: 100%;
}

.enes-width-1-2 {
    width: 50%;
}

.enes-width-1-3 {
    width: calc(100% * 1 / 3.001);
}

.enes-width-2-3 {
    width: calc(100% * 2 / 3.001);
}

.enes-width-1-4 {
    width: 25%;
}

.enes-width-3-4 {
    width: 75%;
}

.enes-width-1-5 {
    width: 20%;
}

.enes-width-2-5 {
    width: 40%;
}

.enes-width-3-5 {
    width: 60%;
}

.enes-width-4-5 {
    width: 80%;
}

.enes-width-1-6 {
    width: calc(100% * 1 / 6.001);
}

.enes-width-5-6 {
    width: calc(100% * 5 / 6.001);
}

.enes-width-small {
    width: 150px;
}

.enes-width-medium {
    width: 300px;
}

.enes-width-large {
    width: 450px;
}

.enes-width-xlarge {
    width: 600px;
}

.enes-width-xxlarge {
    width: 750px;
}

.enes-width-auto {
    width: auto;
}

.enes-width-expand {
    flex: 1;
    min-width: 1px;
}

/* Telefon ekranlarına göre stil özellikleri */
@media (min-width: 640px) {
    /* Whole */
    .enes-width-1-1\@s {
        width: 100%;
    }
    /* Halves */
    .enes-width-1-2\@s {
        width: 50%;
    }
    /* Thirds */
    .enes-width-1-3\@s {
        width: calc(100% * 1 / 3.001);
    }

    .enes-width-2-3\@s {
        width: calc(100% * 2 / 3.001);
    }
    /* Quarters */
    .enes-width-1-4\@s {
        width: 25%;
    }

    .enes-width-3-4\@s {
        width: 75%;
    }
    /* Fifths */
    .enes-width-1-5\@s {
        width: 20%;
    }

    .enes-width-2-5\@s {
        width: 40%;
    }

    .enes-width-3-5\@s {
        width: 60%;
    }

    .enes-width-4-5\@s {
        width: 80%;
    }
    /* Sixths */
    .enes-width-1-6\@s {
        width: calc(100% * 1 / 6.001);
    }

    .enes-width-5-6\@s {
        width: calc(100% * 5 / 6.001);
    }
    /* Pixel */
    .enes-width-small\@s {
        width: 150px;
    }

    .enes-width-medium\@s {
        width: 300px;
    }

    .enes-width-large\@s {
        width: 450px;
    }

    .enes-width-xlarge\@s {
        width: 600px;
    }

    .enes-width-xxlarge\@s {
        width: 750px;
    }
    /* Auto */
    .enes-width-auto\@s {
        width: auto;
    }
    /* Expand */
    .enes-width-expand\@s {
        flex: 1;
        min-width: 1px;
    }
}

/* Tablet ekranlarına göre stil özellikleri */
@media (min-width: 960px) {
    /* Whole */
    .enes-width-1-1\@m {
        width: 100%;
    }
    /* Halves */
    .enes-width-1-2\@m {
        width: 50%;
    }
    /* Thirds */
    .enes-width-1-3\@m {
        width: calc(100% * 1 / 3.001);
    }

    .enes-width-2-3\@m {
        width: calc(100% * 2 / 3.001);
    }
    /* Quarters */
    .enes-width-1-4\@m {
        width: 25%;
    }

    .enes-width-3-4\@m {
        width: 75%;
    }
    /* Fifths */
    .enes-width-1-5\@m {
        width: 20%;
    }

    .enes-width-2-5\@m {
        width: 40%;
    }

    .enes-width-3-5\@m {
        width: 60%;
    }

    .enes-width-4-5\@m {
        width: 80%;
    }
    /* Sixths */
    .enes-width-1-6\@m {
        width: calc(100% * 1 / 6.001);
    }

    .enes-width-5-6\@m {
        width: calc(100% * 5 / 6.001);
    }
    /* Pixel */
    .enes-width-small\@m {
        width: 150px;
    }

    .enes-width-medium\@m {
        width: 300px;
    }

    .enes-width-large\@m {
        width: 450px;
    }

    .enes-width-xlarge\@m {
        width: 600px;
    }

    .enes-width-xxlarge\@m {
        width: 750px;
    }
    /* Auto */
    .enes-width-auto\@m {
        width: auto;
    }
    /* Expand */
    .enes-width-expand\@m {
        flex: 1;
        min-width: 1px;
    }
}

/* Bilgisayar ekranlarına göre stil özellikleri */
@media (min-width: 1200px) {
    /* Whole */
    .enes-width-1-1\@l {
        width: 100%;
    }
    /* Halves */
    .enes-width-1-2\@l {
        width: 50%;
    }
    /* Thirds */
    .enes-width-1-3\@l {
        width: calc(100% * 1 / 3.001);
    }

    .enes-width-2-3\@l {
        width: calc(100% * 2 / 3.001);
    }
    /* Quarters */
    .enes-width-1-4\@l {
        width: 25%;
    }

    .enes-width-3-4\@l {
        width: 75%;
    }
    /* Fifths */
    .enes-width-1-5\@l {
        width: 20%;
    }

    .enes-width-2-5\@l {
        width: 40%;
    }

    .enes-width-3-5\@l {
        width: 60%;
    }

    .enes-width-4-5\@l {
        width: 80%;
    }
    /* Sixths */
    .enes-width-1-6\@l {
        width: calc(100% * 1 / 6.001);
    }

    .enes-width-5-6\@l {
        width: calc(100% * 5 / 6.001);
    }
    /* Pixel */
    .enes-width-small\@l {
        width: 150px;
    }

    .enes-width-medium\@l {
        width: 300px;
    }

    .enes-width-large\@l {
        width: 450px;
    }

    .enes-width-xlarge\@l {
        width: 600px;
    }

    .enes-width-xxlarge\@l {
        width: 750px;
    }
    /* Auto */
    .enes-width-auto\@l {
        width: auto;
    }
    /* Expand */
    .enes-width-expand\@l {
        flex: 1;
        min-width: 1px;
    }
}

/* Geniş ekranlara göre stil özellikleri */
@media (min-width: 1600px) {
    /* Whole */
    .enes-width-1-1\@xl {
        width: 100%;
    }
    /* Halves */
    .enes-width-1-2\@xl {
        width: 50%;
    }
    /* Thirds */
    .enes-width-1-3\@xl {
        width: calc(100% * 1 / 3.001);
    }

    .enes-width-2-3\@xl {
        width: calc(100% * 2 / 3.001);
    }
    /* Quarters */
    .enes-width-1-4\@xl {
        width: 25%;
    }

    .enes-width-3-4\@xl {
        width: 75%;
    }
    /* Fifths */
    .enes-width-1-5\@xl {
        width: 20%;
    }

    .enes-width-2-5\@xl {
        width: 40%;
    }

    .enes-width-3-5\@xl {
        width: 60%;
    }

    .enes-width-4-5\@xl {
        width: 80%;
    }
    /* Sixths */
    .enes-width-1-6\@xl {
        width: calc(100% * 1 / 6.001);
    }

    .enes-width-5-6\@xl {
        width: calc(100% * 5 / 6.001);
    }
    /* Pixel */
    .enes-width-small\@xl {
        width: 150px;
    }

    .enes-width-medium\@xl {
        width: 300px;
    }

    .enes-width-large\@xl {
        width: 450px;
    }

    .enes-width-xlarge\@xl {
        width: 600px;
    }

    .enes-width-xxlarge\@xl {
        width: 750px;
    }
    /* Auto */
    .enes-width-auto\@xl {
        width: auto;
    }
    /* Expand */
    .enes-width-expand\@xl {
        flex: 1;
        min-width: 1px;
    }
}

/* 
    Ara geçişlerdeki stil özelliklerinin sıfırlanması
 */
.enes-clearfix::before {
    content: "";
    display: table-cell;
}

/* 2 */
.enes-clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Hizalama
 */
.enes-float-left {
    float: left;
}

.enes-float-right {
    float: right;
}

[class*='enes-float-'] {
    max-width: 100%;
}

.enes-resize {
    resize: both;
}

.enes-resize-vertical {
    resize: vertical;
}

/* Display
 ========================================================================== */
.enes-display-block {
    display: block !important;
}

.enes-display-inline {
    display: inline !important;
}

.enes-display-inline-block {
    display: inline-block !important;
}



/* Logo stil özellikleri
 */
.enes-logo {
    font-size: 1.5625rem;
    font-family: "Leckerli One", cursive;
    color: #eb4a36;
    /* 1 */
    text-decoration: none;
    font-weight: 400;
}

    /* Hover + Focus */
    .enes-logo:hover,
    .enes-logo:focus {
        color: #eb4a36;
        outline: none;
        /* 1 */
        text-decoration: none;
    }

.enes-logo-inverse {
    display: none;
}

.enes-text-400 {
    font-weight: 400;
}

.enes-text-500 {
    font-weight: 500;
}

.enes-text-600 {
    font-weight: 600;
}

.enes-background-primary-light {
    background-color: #FAE0DC;
}

/*
 * boşluk değerlerinin tanımlanması
 */
.enes-margin {
    margin-bottom: 20px;
}

* + .enes-margin {
    margin-top: 20px !important;
}

.enes-margin-top {
    margin-top: 20px !important;
}

.enes-margin-bottom {
    margin-bottom: 20px !important;
}

.enes-margin-left {
    margin-left: 20px !important;
}

.enes-margin-right {
    margin-right: 20px !important;
}

/* Small  */
.enes-margin-small {
    margin-bottom: 10px;
}

* + .enes-margin-small {
    margin-top: 10px !important;
}

.enes-margin-small-top {
    margin-top: 10px !important;
}

.enes-margin-small-bottom {
    margin-bottom: 10px !important;
}

.enes-margin-small-left {
    margin-left: 10px !important;
}

.enes-margin-small-right {
    margin-right: 10px !important;
}

/* Medium */
.enes-margin-medium {
    margin-bottom: 30px;
}

* + .enes-margin-medium {
    margin-top: 30px !important;
}

.enes-margin-medium-top {
    margin-top: 30px !important;
}

.enes-margin-medium-bottom {
    margin-bottom: 30px !important;
}

.enes-margin-medium-left {
    margin-left: 30px !important;
}

.enes-margin-medium-right {
    margin-right: 30px !important;
}

/* Large */
.enes-margin-large {
    margin-bottom: 30px;
}

* + .enes-margin-large {
    margin-top: 30px !important;
}

.enes-margin-large-top {
    margin-top: 30px !important;
}

.enes-margin-large-bottom {
    margin-bottom: 30px !important;
}

.enes-margin-large-left {
    margin-left: 30px !important;
}

.enes-margin-large-right {
    margin-right: 30px !important;
}

@media (min-width: 1200px) {
    .enes-margin-large {
        margin-bottom: 60px;
    }

    * + .enes-margin-large {
        margin-top: 60px !important;
    }

    .enes-margin-large-top {
        margin-top: 60px !important;
    }

    .enes-margin-large-bottom {
        margin-bottom: 60px !important;
    }

    .enes-margin-large-left {
        margin-left: 60px !important;
    }

    .enes-margin-large-right {
        margin-right: 60px !important;
    }
}

/* Boşluk stillerinin belirlenmesi*/
.enes-padding {
    padding: 30px;
}

/* Desktop and bigger */
@media (min-width: 1200px) {
    .enes-padding {
        padding: 40px;
    }
}

/* Small */
.enes-padding-small {
    padding: 15px;
}

/* Large*/
.enes-padding-large {
    padding: 30px;
}

@media (min-width: 1200px) {
    .enes-padding-large {
        padding: 70px;
    }
}

/* Boşluk deperlerini sıfırlar */
.enes-padding-remove {
    padding: 0 !important;
}

.enes-padding-remove-top {
    padding-top: 0 !important;
}

.enes-padding-remove-bottom {
    padding-bottom: 0 !important;
}

.enes-padding-remove-left {
    padding-left: 0 !important;
}

.enes-padding-remove-right {
    padding-right: 0 !important;
}

.enes-padding-remove-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.enes-padding-remove-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.enes-input,.enes-textarea,.enes-button{border-radius:20px;}


[class*='enes-inline'] {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
}

.enes-inline-clip {
    overflow: hidden;
}

.enes-preserve-width,
.enes-preserve-width canvas,
.enes-preserve-width img,
.enes-preserve-width svg,
.enes-preserve-width video {
    max-width: none;
}

.enes-responsive-width,
.enes-responsive-height {
    box-sizing: border-box;
}

.enes-responsive-width {
    /* 1 */
    max-width: 100% !important;
    /* 2 */
    height: auto;
}

.enes-responsive-height {
    /* 1 */
    max-height: 100%;
    /* 2 */
    width: auto;
    /* 3 */
    max-width: none;
}

.enes-border-circle {
    border-radius: 50%;
}

.enes-border-pill {
    border-radius: 500px;
}

.enes-border-rounded {
    border-radius: 6px;
}

.enes-position-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.enes-position-relative {
    position: relative !important;
}

.enes-position-absolute {
    position: absolute !important;
}

.enes-position-fixed {
    position: fixed !important;
}

.enes-position-z-index {
    z-index: 1;
}

.enes-position-small {
    max-width: calc(100% - (15px * 2));
    margin: 15px;
}

    .enes-position-small.enes-position-center {
        transform: translate(-50%, -50%) translate(-15px, -15px);
    }

    .enes-position-small[class*='enes-position-center-left'],
    .enes-position-small[class*='enes-position-center-right'] {
        transform: translateY(-50%) translateY(-15px);
    }

    .enes-position-small.enes-position-top-center,
    .enes-position-small.enes-position-bottom-center {
        transform: translateX(-50%) translateX(-15px);
    }

.enes-position-medium {
    max-width: calc(100% - (30px * 2));
    margin: 30px;
}

    .enes-position-medium.enes-position-center {
        transform: translate(-50%, -50%) translate(-30px, -30px);
    }

    .enes-position-medium[class*='enes-position-center-left'],
    .enes-position-medium[class*='enes-position-center-right'] {
        transform: translateY(-50%) translateY(-30px);
    }

    .enes-position-medium.enes-position-top-center,
    .enes-position-medium.enes-position-bottom-center {
        transform: translateX(-50%) translateX(-30px);
    }

.enes-position-large {
    max-width: calc(100% - (30px * 2));
    margin: 30px;
}

    .enes-position-large.enes-position-center {
        transform: translate(-50%, -50%) translate(-30px, -30px);
    }

    .enes-position-large[class*='enes-position-center-left'],
    .enes-position-large[class*='enes-position-center-right'] {
        transform: translateY(-50%) translateY(-30px);
    }

    .enes-position-large.enes-position-top-center,
    .enes-position-large.enes-position-bottom-center {
        transform: translateX(-50%) translateX(-30px);
    }

@media (min-width: 1200px) {
    .enes-position-large {
        max-width: calc(100% - (50px * 2));
        margin: 50px;
    }

        .enes-position-large.enes-position-center {
            transform: translate(-50%, -50%) translate(-50px, -50px);
        }

        .enes-position-large[class*='enes-position-center-left'],
        .enes-position-large[class*='enes-position-center-right'] {
            transform: translateY(-50%) translateY(-50px);
        }

        .enes-position-large.enes-position-top-center,
        .enes-position-large.enes-position-bottom-center {
            transform: translateX(-50%) translateX(-50px);
        }
}